<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- 	<bean id="studentService" class ="com.yxy.demo.service.StudentService">
		<property name="studnetDao" ref="studnetDao"></property> 以前的做法
		</bean>

		<bean id="studnetDao" class ="com.yxy.demo.service.StudentService">
		
		</bean> -->
</beans>
